{% extends "base.html" %}
{% block title %}Library Loan System - About Us{% endblock %}


{% block content %}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                            <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='images/logo/eventnest logo png.png')}}" height="80px" alt=""></a>
                    <h1 class="display-5 fw-bolder text-white mb-2">About EventNest</h1>
                    <p class="lead text-white-50 mb-4">Singapore's First Excellence High-Tech Event Website</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/">Home</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="/createQn">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"></div>
                <h2 class="h4 fw-bolder">About EventNest</h2>
                <p>Singapore's largest ticketing agency and one of the country's leading e-commerce players, selling over 6 million tickets annually. A pioneer in the industry, we partner with an extensive portfolio of major events and experiences.</p>
                <p>We help event organisers and content creators grow by enabling consumers to discover, engage and consume our digital and live experiences via SISTIC and our partner networks. We empower our clients and ecosystem partners to achieve success in Singapore and beyond by leveraging our data insights and innovation.</p>
                <!-- <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a> -->
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"></div>
                <h2 class="h4 fw-bolder">Book through EventNest</h2>
                <p>Book through EventNest via ABC: Access, Book & Connect 
                    </p>
                <!-- <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a> -->
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"></div>
                <h2 class="h4 fw-bolder">Our Mssion & Vision</h2>
                <p>EventNest is an offline event ticketing company that provide tickets to concerts and sporting events.<br><br>

                    Our mission: bring value to our customers by connecting people with similar interests. <br><br>
                    
                    Our vision: Singapore's leading events platform with a smooth user experience.
                    </p>
                <!-- <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a> -->
            </div>
            
        </div>
    </div>
</section>
<!-- Testimonials section-->
<section class="py-5 border-bottom">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Customer testimonials</h2>
            <p class="lead mb-0">Our customers love working with us</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- Testimonial 1-->
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <p class="mb-1">Thank you for putting together such a great product. We loved working with you and the whole team, and we will be recommending you to others!</p>
                                <div class="small text-muted">- Ame, Singapore</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial 2-->
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <p class="mb-1">The whole team was a huge help with putting things together for our company and brand. We will be hiring them again in the near future for additional work!</p>
                                <div class="small text-muted">- John Doe, Singapore</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

               



</body>


{% endblock %}
