{% extends "base.html" %}
{% block title%}Cart{% endblock %}

{% block content%}
    <div class="container mt-5">
        <header class="border-bottom mb-5">
            <h3>My Shopping Bag</h3>
            {% if count == 0 %}
            <p>Shopping art is empty</p>
            {% elif count == 1 %}
            <p>There is 1 order.</p>
            {% else %}
            <p>There are {{ count }} orders.</p>
            {% endif %}
        </header>

        {%for order in orders%}
        order_id: {{order.get_order_id()}} ---> event_id:{{order.get_event_id()}} <br>
        {% endfor %}
              <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow mb-5">
                  <!-- Shopping cart table -->
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col" class="border-0 bg-light">
                            <div class="p-2 px-3 text-uppercase">Product</div>
                          </th>
                          <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase">Price</div>
                          </th>
                          <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase">Quantity</div>
                          </th>
                          <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase">Subtotal</div>
                          </th>
                          <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase">Edit</div>
                          </th>
                          <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase">DELETE</div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for order in orders %}
                        <tr>
                          <th scope="row">
                            <div class="p-2">
                              <img src="{{url_for('static', filename='images/' + order.get_order_image() )}}" alt="" width="200" class="img-fluid rounded shadow-sm">
                              <div class="ml-3 d-inline-block align-middle">
                                <h6 class="mb-0"> 
                                  <a href="/updateTicketDetails/{{order.get_order_id()}}" class="text-dark d-inline-block align-middle">{{order.get_order_name()}}</a>
                                </h6>
                                <span class="text-muted font-weight-normal font-italic d-block">{{order.get_event_date()}}</span>
                                <span class="text-muted font-weight-normal font-italic d-block">{{order.get_order_seat_type()}}</span>
                              </div>
                            </div>
                            <td class="align-middle"><strong>${{order.get_order_seat_price()}}</strong></td>
                            <td class="align-middle"><strong>{{order.get_order_quantity()}}</strong></td>
                            <td class="align-middle"><strong>${{order.order_cost(order.get_order_seat_price(), order.get_order_quantity())}}</strong></td>
                            <td class="align-middle"><a href="/updateTicketDetails/{{order.get_order_id()}}" class="text-dark"><i class="bi bi-pencil-square"></i></a></td>
                            <td class="align-middle"><form action="{{url_for('delete_order', id=order.get_order_id())}}" method="POST"><input type="submit" class="fa" style="border: none; background: white;" value="&#xf014;"></form></td>

                        </tr>
                      {% endfor%}



                      </tbody>
                    </table>
                  </div>
                  <!-- End -->
                </div>
              </div>
        
              <div class="row py-5 p-4 bg-white rounded shadow-sm">
                <div class="col-lg-6">
                  <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>
                  <div class="p-4">
                    <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
                    <div class="input-group mb-4 border rounded-pill p-2">
                      <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3" class="form-control border-0">
                      <div class="input-group-append border-0">
                        <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i class="fa fa-gift mr-2"></i> Apply coupon</button>
                      </div>
                    </div>
                  </div>
                  <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for seller</div>
                  <div class="p-4">
                    <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
                    <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
                  <div class="p-4">
                    <p class="font-italic mb-4">Ticket will be send through email after payment. Please check your mailbox.</p>
                    <ul class="list-unstyled mb-4">
                      <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Discount</strong><strong>$0.00</strong></li>
                      <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>$0.00</strong></li>
                      <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                      
                        <h5 class="font-weight-bold">${{payable}}</h5>
                      </li>
                    </ul>
                    <div id="paypal-button-container"></div>
                    <a href="#" class="btn btn-dark rounded-pill py-2 px-5 btn-block">Checkout</a>
                  </div>
                </div>
              </div>

        
            </div>
          </div>
            {% print(orders) %}<br>
            {%for order in orders%}
              {% print(order) %} ----> {%print(order.get_event_id())%}<br>
              {%print(order.get_order_category())%}
            {%endfor%}
            


    </div>

    <script src="https://www.paypal.com/sdk/js?client-id=AVHtcSrT5bL9qkjoybMjOTAdU0MIhGq273ghCjcmjGKcHOdSHRDAvs8udVEIAqAiq7WIBmykCIJ87Lpv&currency=USD&disable-funding=credit"></script>
    <script>

      var total = '{{payable}}'
      // Render the PayPal button into #paypal-button-container
      paypal.Buttons({

          style:{
            color:'blue',
            shape:'rect',
          },

          // Set up the transaction
          createOrder: function(data, actions) {
              return actions.order.create({
                  purchase_units: [{
                      amount: {
                          value: parseFloat(total).toFixed(2)
                      }
                  }]
              });
          },

          // Finalize the transaction
          onApprove: function(data, actions) {
              return actions.order.capture().then(function(orderData) {
                  // Successful capture! For demo purposes:
                  console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                  var transaction = orderData.purchase_units[0].payments.captures[0];
                  alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                  window.location.replace("/clearCart/{{ session['user_id'] }}");
                  // actions.redirect(url_for('clear_cart'));
                  // Replace the above to show a success message within this page, e.g.
                  // const element = document.getElementById('paypal-button-container');
                  // element.innerHTML = '';
                  // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                  // Or go to another URL:  actions.redirect('thank_you.html');
              });
          }


      }).render('#paypal-button-container');

      // if onApprove success then item will be remove from cart.


  </script>
{% endblock %}