{% extends "base.html" %}
{% block title%}custDash{% endblock %}

{% block content %}
<body class="app">   	
    <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3">
		    <div class="container-xl">
			    
			    <h1 class="app-page-title mb-2">Overview</h1>
				<div class="col-12 g-4 mb-3">
					<div class="app-card app-card-chart h-100 shadow-sm" style="background-color:#FFFFFF">
						<div class="app-card-header p-3">
							<h4 class="app-card-title">Spending by Month</h4>
							<div class="row justify-content-between align-items-center">
								<div class="col-auto">
									<h2>$ {{200 + sales_line_list }}</h2>
								</div><!--//col-->
								<div class="col-auto">
									<div class="card-header-action">
										<div class="mb-2 d-flex">   
												<button href="#" onclick="downloadPDF()" class="btn btn-primary btn-sm active" style="background-color:#00719f" role="button" aria-pressed="true">Download PDF</button>
										</div>
									</div><!--//card-header-actions-->
								</div><!--//col-->
							</div><!--//row-->
						</div><!--//app-card-header-->
						<div class="app-card-body p-1 p-lg-4">

							<div class="chart-container">
								<canvas style="max-height:250px;" id="myChart"></canvas>
								<script>
const data = {
      labels: [{% for item in labels %} "{{item}}",{% endfor %}], 
      datasets: [{
        label: '{{ legend }}',
        data: [{% for n in values %}{{n}},{% endfor %}],
        backgroundColor: [
          '	#FFF8DC',
        ],
        borderColor: [
          '#00FFFF',
        ],
        borderWidth: 3,
		pointRadius:3,
      },
	]
    };


	const bgColor = {
		id:'bgColor',
		beforeDraw: (chart,steps,options) => {
			const {ctx,width,height} = chart;
			ctx.fillStyle = options.backgroundColor;
			ctx.fillRect(0,0,width,height)
			ctx.restore();
		}
	}

    // config
    const config = {
      type: 'line',
      data,
	  options: {
		scales: {
		y:{
			beginAtZero:true
		}
       },
		plugins:{
			bgColor:{
				backgroundColor:'white',
			}
		}
    },
	plugins:[bgColor]
};

    // render init block
      const ctx = document.getElementById('myChart');
      const myChart = new Chart(
      ctx,
      config
    );
	

	function downloadPDF(){
		const canvas = document.getElementById('myChart');
		
		const canvasImage = canvas.toDataURL('image/jpeg',1.0);
		console.log(canvasImage)

		let pdf = new jsPDF('landscape');
		pdf.setFontSize(10);
		pdf.addImage(canvasImage,'JPEG',15,15,250,150);
		pdf.save('salesrecords.pdf')

	}

		newData = [{% for item in new %} {{item}} ,{% endfor %}]
		gddata = [{% for item in values %} {{item}} ,{% endfor %}]
		myChart.config.data.datasets[0].data[5] = gddata[5] + {{ sales_line_list }} 
		myChart.update()

	

    </script>
							</div>
						</div><!--//app-card-body-->
					</div><!--//app-card-->
				</div><!--//col-->
				    
			    <div class="row g-3 mb-4">
				    <div class="col-12 col-sm-6 col-xl-4 mb-4">
					    <div class="app-card app-card-stat shadow-sm h-70">
						    <div class="app-card-body p-3 p-lg-4" style="background-color:#FFFFFF">
							    <h4 class="stats-type mb-1">Tickets Bought</h4>
								<div class="chart-container">
									<div class="stats-figure py-4">
										<div class="stats-figure py-4">	
                      <h2>{{200 + count }}</h2>

				</div>
									</div>
								</div>
						    </div><!--//app-card-body-->
						    <a class="app-card-link-mask" href="#"></a>
					    </div><!--//app-card-->
				    </div><!--//col-->
				    
				    <div class="col-12 col-sm-3 col-md-4 mb-4">
					    <div class="app-card app-card-stat shadow-sm h-70">
						    <div class="app-card-body p-3 p-lg-4" style="background-color:#FFFFFF">
							    <h4 class="stats-type mb-1">Most Spent Ticket</h4>
							    <div class="stats-figure py-4">	
									<h2>$ {{200 + sales_line_list }}</h2>
								</div>
						    </div><!--//app-card-body-->
						    <a class="app-card-link-mask" href="#"></a>
					    </div><!--//app-card-->
				    </div><!--//col-->
				    <div class="col-12 col-sm-3 col-md-4 mb-4" style="background-color:#FFFFFF">
					    <div class="app-card app-card-stat shadow-sm h-100">
						    <div class="app-card-body p-3 p-lg-4">
							    <h4 class="stats-type">Projects</h4>
						    </div><!--//app-card-body-->
                            <div class="chart-container">
								<canvas style="max-height:80px" id="myChart1"></canvas>
								<script>
const records = {
	datapoints:[
		[12,4],
		[7,8],
		[1,9],
		[2,12],
		[8,2],
		[{{sports_cat}},{{concert_cat}}],
	]
}
 const data2 = {
      labels: ['Music', 'Sports'],
      datasets: [{
        label: 'Weekly Sales',
        data: records.datapoints[5],
        backgroundColor: [
          'rgba(255, 26, 104, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 26, 104, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    };

    // config
    const config2 = {
      type: 'doughnut',
      data:data2,
	  options: {
		plugins:{
       legend:{
        position:'right',
       }
    }
}

        };

    // render init block
    const myChart1 = new Chart(
      document.getElementById('myChart1'),
      config2
    );

     function clickHandler(click) {
        const points = myChart.getElementsAtEventForMode(click,'nearest',{
            intersect:true},true);
        if (points.length) {
			myChart1.data.datasets[0].data = records.datapoints[points[0].index];
			myChart1.update();
      }
    }
    ctx.onclick = clickHandler

									</script>
							</div>
					    </div><!--//app-card-->
				    </div><!--//col-->
			    </div><!--//row-->
			        
			        <div class="col-12">
				        <div class="app-card app-card-stats-table h-50 shadow-sm" style="background-color:#FFFFFF">
					        <div class="app-card-header p-3">
						        <div class="row justify-content-between align-items-center">
							        <div class="col-auto">
						                <h4 class="app-card-title">Stats List</h4>
							        </div><!--//col-->
							        <div class="col-auto">
								        <div class="card-header-action">
								        </div><!--//card-header-actions-->
							        </div><!--//col-->
						        </div><!--//row-->
					        </div><!--//app-card-header-->
					        <div class="app-card-body p-3 p-lg-4">
						        <div class="table-responsive">
							        <table class="table table-borderless mb-0">
										<thead>
											<tr>
												<th class="meta">Ticket Name</th>
												<th class="meta stat-cell">Category</th>
												<th class="meta stat-cell">Date</th>
												<th class="meta stat-cell">Price</th>
											</tr>
										</thead>
										<tbody>
											{% for n in adash_list %}
											{% for i in n.get_order_history() %}

											<tr>
												<td><a href="#">{{i.get_order_name()}}</a></td>
												<td class="stat-cell">{{i.get_order_category()}}</td>
												<td class="stat-cell">{{i.get_event_date() }}</td>
												<td class="stat-cell">{{i.get_order_seat_price() | int * i.get_order_quantity() | int }}</td>
											</tr>
											{% endfor %}{% endfor %}

										</tbody>
									</table>
						        </div><!--//table-responsive-->
					        </div><!--//app-card-body-->
				        </div><!--//app-card-->
			        </div><!--//col-->		    
		    </div><!--//container-fluid-->
	    </div><!--//app-content-->
	</body>
{% endblock %}
