{% extends "base.html" %}
{% block title %}EventNest - Log In{% endblock %}

{% block content %}
<div class="p-5 bg-light">
    <div class="container-sm col-lg-6 ml-auto">

        <h2 class="display-7">Log In</h2>

        <form action="/action_page.php" class="needs-validation" novalidate>

            <div class="form-group my-4">
                <label class="control-label" for="email">Email</label>
                <input type="text" class="form-control" id="email" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <div class="form-group mt-4 pb-1">
                <label class="control-label" for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <span></span>
            <a href="#" class="d-flex justify-content-end">Forget Password</a>
            

            <div class="row justify-content-center mt-5 mb-3">
              <form action="" method="POST">
                <input type="submit" class="btn btn-primary btn-md" style="width:40%" value="Submit">
              </form>
            </div>

            <div class="row justify-content-center mt-2 mb-3">
              <a class="btn btn-outline-primary btn-md" style="width:40%" href="/signup" role="button">Sign Up</a>
            </div>
            

        </form>

    </div>
</div>

<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}



