{% extends "base.html" %}
{% block title %}EventNest - Create Event{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="signup-form">
                <form action="" class="mt-5 border p-4 bg-light shadow">
                    <h4 class="mb-5 text-secondary">Create Your Event</h4>
                    <div class="row">
                        <div class="row">
                            <label>Event Name<span class="text-danger">*</span></label>
                            <input type="text" name="fname" class="form-control" placeholder="Enter First Name">
                        </div>

                            <div class="row py-4">
                                <div class="col-5">
                                    <label for="seatingcats">Number of Categories</label>
                                    <select class="form-control" id="seatingcats">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>    
                            <div class="col-md-3">
                            <label>Start Date<span class="text-danger">*</span></label>
                            <input type="text" name="Lname" class="form-control" placeholder="DD/MM/YY">
                            </div>
                            <div class="col-md-3">
                            <label>End Date<span class="text-danger">*</span></label>
                            <input type="text" name="Lname" class="form-control" placeholder="DD/MM/YY">
                        </div>
                        </div>

                        <div class="col">
                        <label></label><u>Add Event Poster</u></label>
                        <div class="image-upload">
                            <label for="file-input">
                              <img id="previewImg" src="https://static.thenounproject.com/png/3322766-200.png" style="width: 100px; height: 100px;  border: 2px solid black;margin-top:15px;" />
                            </label>

                            <input id="file-input" type="file" onchange="previewFile(this);" style="display: none;" />
                          </div>
                        </div>
                        <div class="col">
                          <label><u>Add Seating Image</u></label>
                          <div class="image-upload">
                              <label for="file-input">
                                <img id="previewImg" src="https://static.thenounproject.com/png/3322766-200.png" style="width: 100px; height: 100px;  border: 2px solid black;margin-top:15px;" />
                              </label>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-5 mb-3">
                        <button type="button" class="btn btn-info sm">Create Event</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function previewFile(input){
        var file = $("input[type=file]").get(0).files[0];

        if(file){
          var reader = new FileReader();

          reader.onload = function(){
              $("#previewImg").attr("src", reader.result);
          }

          reader.readAsDataURL(file);
        }
    }
</script>
{% endblock %}