{% extends "base.html" %}
{% block title%}Ticket Details{% endblock %}

{% block content%}

{% macro render_field(field) %}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    {% for error in field.errors %}
      <div class="text-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
{% endmacro %}

<div class="container pb-5">



    <div class="d-flex justify-content-center overflow-hidden">
        <img class="w-75" src="{{(url_for('static', filename='images/' + event.get_event_poster() ))}}" class="card-img-top" alt="...">
    </div>
    <div class="row text-center py-5">
        <div class="col py-3"><strong class="design-border">Title</strong><div class="shift-up">{{ event.get_event_name() }}</div></div>
        <div class="col py-3"><strong class="design-border">Date</strong><div class="shift-up">{{ event.get_event_date() }}</div></div>
        <div class="w-100"></div>
        <div class="col py-3"><strong class="design-border">Location</strong><div class="shift-up">{{ event.get_event_location() }}</div></div>
        <div class="col py-3"><strong class="design-border">Time</strong><div class="shift-up">{{ event.get_event_time() }}</div></div>
 
    </div>

    <div class="row py-5">
        <div class="col-12 col-md-7 mb-5">
            <h4 class="pb-2">Seating Plan</h4>
            <div class="rounded border w-75">
                <img class="w-100 shadow-sm rounded" src="{{(url_for('static', filename='images/' + event.get_seat_image() ))}}" alt="">
            </div>
            <div class="mt-5">
                <h4>Description</h4>
                  <p>{{ event.get_event_desc() }}</p>
              </div>
        </div>
            

        <div class="col-6 col-md-4">
            <form action="" method="POST">
                <h4 class="pb-2">Seat Category</h4>
                <div class="rounded border shadow-sm">

                    <div class="d-flex flex-column">
                        <div class="p-2">

                            {{render_field(form.order_price, class="design-radio")}}
                        </div>
                    </div>

                </div>

                <h4 class="pb-2 mt-5">Ticket Quantity</h4>
                <div class="rounded border shadow-sm">
                    {{render_field(form.order_quantity, class="form-control")}}
                </div>
                {% if 'user_id' in session %}
                <div class="col-sm mt-5">
                    <input type="submit" value="Add to Cart" class="btn btn-primary w-100 p-2"/>
                </div>
                
                {% else %}
                  <div></div>
                {% endif %}
            </form>
        </div>
 
        
    </div>

  </div>

{% endblock %}