{% extends "base.html" %}
{% block title %}EventNest - Log In{% endblock %}

{% block content %}

<div class="p-3 mb-2 bg-light pt-5">
    <div class="container-sm col-lg-6 ml-auto">
        
        <!-- Nav tabs -->
        <h3 class="row justify-content-center text-center"><i class="fa-solid fa-user-astronaut fa-4x"></i></i></h3>


        <br>
        <br>
        
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#home" role="tab" type="button">Home</a></li>
            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#menu1" role="tab" type="button">Dashboard</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" class="container tab-pane fade show active" role="tabpanel">

                <!-- content -->
                <br>
                <br>
                <table class="table table-borderless mx-auto pl-2" style="width: 50%;">
                    
                    <tbody>
                      <tr>
                        <td scope="row">Name</td>
                        <td>Mark</td>
                      </tr>
                      <tr>
                        <td scope="row">Email</td>
                        <td>xx/xx/xxxx</td>
                      </tr>
                      <tr>
                        <td scope="row">Birthday</td>
                        <td>email@gmail.com</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>

                <div class="row justify-content-center pt-3">
                    <div class="col">
                        <a href="/signup"><button type="button" class="btn btn-primary btn-md form-control btn-block">Edit details</button></a>
                    </div>
                    <div class="col">
                        <a href="#"><button type="button" class="btn btn-primary btn-md form-control btn-block">Change Password</button></a>
                    </div>
                </div>
            </div>


            <div id="menu1" class="container tab-pane fade" role="tabpanel">
                <br>
                <h3>Menu 1</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}