{% extends "base.html" %}
{% block title %}EventNest - Profile{% endblock %}

{% block content %}

<!-- if user created alert -->
{% if 'user_created' in session %}
<div class="alert alert-success alert-dismissible fade show">
  {{ session.pop('user_created', None) }} was created.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<!-- if user updated alert -->
{% elif 'user_updated' in session %}
<div class="alert alert-warning alert-dismissible">
  {{ session.pop('user_updated', None) }} was updated.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- if user log in -->
{% elif 'logged_in' in session %}
<div class="alert alert-success alert-dismissible">
  {{ session.pop('logged_in', None) }} has logged in.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="row ">
    {% include 'users/profilenav.html' %}
  


<div class="p-3 mb-2 bg-light pt-5" style="width: 80%;">
    <div class="container-sm col-lg-6 ml-auto">
        
        <!-- Nav tabs -->
        
                <table id="accountdetails" class="table mx-auto pl-2" style="width: 80%;">
                    
                    <tbody>
                      
                      <tr >
                        <td scope="row">Name</td>
                        <td>{{ session['username'] }}</td>
                      </tr>
                      <tr>
                        <td scope="row">Email</td>
                        <td>{{ session['user_email'] }}</td>
                      </tr>
                      <tr>
                        <td scope="row">Birthday</td>
                        <td>{{ session['user_birthdate'] }}</td>
                      </tr>
                      
                    </tbody>
                  </table>
                  <br>

                <div class="row justify-content-center py-3">
                    <div class="col">
                        <a href="/EditAcc/{{ session['user_id'] }}"><button type="button" class="btn btn-primary btn-md form-control btn-block">Edit details</button></a>
                    </div>
                    <div class="col">
                        <a href="/ChangePass/{{ session['user_id'] }}"><button type="button" class="btn btn-primary btn-md form-control btn-block">Change password</button></a>
                    </div>
                </div>

          </div>
          

</div>


</div>

</div>
</div>
{% endblock %}