{% extends "base.html" %}
{% block title %}EventNest - Forget Password{% endblock %}

{% block content %}
{% from "_formHelper.html" import render_field %}

{% with messages=get_flashed_messages(with_categories=true) %}
 {% for category, message in messages %}
  <div class='alert alert-{{category}} text-center alert-dismissible fade show m-auto'>
    {{ message }}
   </div>
 {% endfor %}
{% endwith %}

<div class="p-5 bg-light">
    <div class="container-sm col-lg-6 ml-auto">

        <h2 class="display-7">Reset Password</h2>

        <form method = "POST" action="">

            <div class="form-group">
                {{ render_field(form.newpassword, class="form-control") }}
              </div>
              <br>

              <div class="form-group">
                {{ render_field(form.comfirmpw, class="form-control") }}
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onclick="myFunction()">
                <label class="form-check-label" for="flexCheckDefault">
                  Show password
                </label>
              </div>
              <br>

            <div class="row justify-content-center mt-4">
                <form action="" method="POST">
                <input type="submit" class="btn btn-primary btn-md" style="width:45%" value="Submit">
                </form>
            </div>

        </form>

    </div>
</div>

<script>
  function myFunction() {
  var y = document.getElementById('newpassword');
  var z = document.getElementById('comfirmpw');
  if (y.type === "password") {
    y.type = "text";
  } else {
    y.type = "password";
  }
  if (z.type === "password") {
    z.type = "text";
  } else {
    z.type = "password";
  }
}
</script>
{% endblock %}



