<div class="container-fluid g-0 d-inline-block">
    <div class="row g-0 ">
        <div class="col-auto ">
            <div class="flex-column flex-row flex-nowrap d-flex align-items-center align-items-sm-start px-3 pt-2 text-white">
                
                <ul class=" pt-4 flex-sm-column flex-row flex-nowrap mb-auto nav nav-pills nav-flush nav-justified flex-column align-items-center align-items-sm-start">
                    <li class="nav-item">
                        <a href="/accountDetails" class="ps-2 nav-link link-dark">
                            <i class="fa-solid fa-user-astronaut"></i> <span class="ms-1 d-none d-sm-inline">Profile</span>
                        </a>
                    </li>
                    <li>
                        {% if 'admin_in' in session %}
                        <a href="/adminDashboard" class=" link-dark active nav-link ps-2">
                            <i class="fa-solid fa-chart-line"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        {% else %}
                        <a href="/custDashboard/{{ session['user_id'] }}" class=" link-dark active nav-link ps-2">
                            <i class="fa-solid fa-chart-line"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                         {% endif %}
                    </li>
                    <li>
                        <a href="/logout" class=" link-dark nav-link ps-2" onclick="return confirm('Are you sure you want to log out?')">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i> <span class="ms-1 d-none d-sm-inline">Logout</span></a>
                    </li>
                    <li>
                        <a href="/deleteacc/{{ session['user_id'] }}" onclick="return confirm('Are you sure you want to delete your account?')" class=" link-dark nav-link ps-2">
                            <i class="fa-solid fa-eraser"></i> <span class="ms-1 d-none d-sm-inline">Delete Account</span></a>
                    </li>
                </ul>
                    
                
            </div>
        </div>